<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
	<!-- REGISTRO -->
			<div class="signup">
				<form [formGroup]="registroForm" (ngSubmit)="registro()">
					
					<label for="chk" aria-hidden="true">Registro</label>
					<input type="text" formControlName="nombre" placeholder="Nombre de usuario" />
					<div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched">
						Nombre de usuario requerido.
					</div>

					<input type="email" formControlName="email" placeholder="Correo electrónico."/>
					<div *ngIf="registroForm.get('email')?.errors?.['email'] && registroForm.get('email')?.touched">
						Correo inválido.
					</div>

					<input type="password" formControlName="contraseña" placeholder="Contraseña"/>
					<div *ngIf="registroForm.get('contraseña')?.errors?.['minlength'] && registroForm.get('contraseña')?.touched">
						Mínimo 6 caracteres.
					  </div>
					  

					<button class="button-special" [disabled]="registroForm.invalid">Registrarse</button>
				</form>
			</div>

	<!-- INGRESO -->

			<div class="login" >
				<form [formGroup]="ingresoForm" (ngSubmit)="ingreso()">

					<label for="chk" aria-hidden="true">Login</label>
					
					<input type="email" formControlName="email" placeholder="Ingres su email"/>
					<input type="password" formControlName="contraseña" placeholder="Contraseña"/>
					
					<button class="button-special" text="Iniciar Sesión" [disabled]="ingresoForm.invalid" (onClick)="ingreso()">Iniciar Sesión</button>
				</form>
				<div class="d-flex justify-content-center gap-3 mt-3">
					<button class="ui-btn" (click)="botonTesteo1()">
						<span>
							🤫
						</span>
						</button >
						<button class="ui-btn" (click)="botonTesteoAnim()">
						<span>
							Anim
						</span>
						</button>
						<button class="ui-btn" (click)="botonTesteo2()">
						<span>
							🗣 
						</span>
						</button>
				</div>
			</div>
		</div>
</body>